script let button = '#{button}'
include configButtons.html
//head
//    meta(charset='UTF-8')
//    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
//body(style='background: #191919; height:100%')
//    script.
//        $(function () {
//            for (var r = 0; r < 8; r++) {
//                $("#imageGrid").append('<div id="r' + r + '" className="column"></div>');
//                for (var c = 0; c < 3; c++) {
//                    $("#r" + r).append(
//                        '<a href="/inky/config/' + (c + r * 3) + '">' +
//                        '<img id="' + (c + r * 3) + '" src="/images/0.png" height="80" style="padding: 10px 10px 0 10px">' +
//                        '</a>'
//                    )
//                }
//            }
//            $('#' + !button).css('border-style', 'solid')
//        });
//    .row(style='padding: 1% 1% 0 5%')
//        .column(style='border-style: dashed;border-color: white;width: auto')
//            #imageGrid.row
//
//        .column(style='width: auto;float: left;\n' +
//        '        width: 50%;\n' +
//        '        height: 100%;\n' +
//        '        overflow: scroll;')
//            h1 Config Options
//            form(method='post' action=('/inky/config/' + button) enctype='multipart/form-data')
//                input.form-control-file(type='file' name='image' style='color:white')
//                textarea#code(type='text' name='test' style='display: inline-block;height:auto')
//                input(type='submit')
//
//style.
//    @font-face {
//        font-family: "JetBrains Mono";
//        src: url('/stylesheets/JetBrainsMono-Light.ttf');
//    }
//
//    h1 {
//        color: white;
//        font-family: "JetBrains Mono";
//    }