<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INKY CONFIG</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body style="background: #191919">
<script>
    $(function () {
        for (var r = 0; r < 8; r++) {
            $("#imageGrid").append('<div id="r' + r + '" className="column"></div>');
            for (var c = 0; c < 3; c++) {
                $("#r" + r).append(
                    '<a href="/inky/config/' + (c + r * 3) + '">' +
                    '<img id="' + (c + r * 3) + '" src="/images/' + (c + r * 3) + '.png" height="74px" width="85px">' +
                    '</a>'
                )
            }
        }
    });
</script>

<div class="row" style="padding: 1% 1% 0 5%">
    <div class="column" style="border-style: dashed;border-color: white;width: auto">
        <div id="imageGrid" class="row"></div>
    </div>
    <div class='column' style="width: auto">
        <h1>Config Options</h1>
        <textarea id="code" style="height: 50px">print('Hello, World!')</textarea>
    </div>
    <div class="column" style="width: 256px; height: 592px; border: 1px dashed white">

    </div>
</div>
</body>
</html>
<script src="/javascript/pyBundle.js"></script>
<style>
    @font-face {
        font-family: "JetBrains Mono";
        src: url('/stylesheets/JetBrainsMono-Light.ttf');
    }

    h1 {
        color: white;
        font-family: "JetBrains Mono";
    }
</style>